@font-face {
  font-family: 'pixelart';
  src: url("./Font/press_start_2p/PressStart2P.ttf")
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'pixelart';
  color: white;
  background-image: url("./images/Caratula-solo-fondo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  height: 100vh; 
  justify-content: center;
}

.main-pannel {
  text-align: center;
  margin-top: 8%;
}

.main-pannel h1 {
  color: #161a1c;
  font-size: 90px;
}

.menu {
  width: 700px;
  line-height: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;

}

.menu li {
  text-align: left;
  list-style-type: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  font-size: 20px;
}

.instructions-detail {
  font-family: Helvetica, sans-serif;
  position: fixed;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  border-radius: 5px;
  z-index: 9999;
  left: 0;
}

.instructions-detail-off {
    display: none;
}

.instructions-detail h2 {
  margin: 40px 0 15px 0;
  text-align: center;
}

.instructions-detail p {
  text-align: center;
  padding: 4px;
  line-height: 20px;
}

.main-pannel-off {
  display: none;
}

.main-game-off {
  display: none;
}

.main-game-on {
  margin-top:120px;
}

.button {
  background-color: rgba(0,0,0,0.3);
  font-family: 'pixelart';
  color: white;
  margin-top: 20px;
  font-size: 20px;
  padding: 7px;
  border-style: groove;
  cursor: pointer;
}

.game-nav {
  margin-left: 130px;
  align-content: baseline;
}