@font-face {
  font-family: 'pixelart';
  src: url("./Font/press_start_2p/PressStart2P.ttf")
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'pixelart';
  color: white;
  background-image: url("./images/Caratula-solo-fondo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  height: 100vh; 
  justify-content: center;
  align-items: center;
}

.main-pannel {
  text-align: center;
}

.main-pannel h1 {
  color: #161a1c;
  font-size: 90px;
}

.menu {
  width: 700px;
  line-height: 30px;
  display: flex;
  justify-content: space-evenly;
}

.menu li {
  text-align: left;
  list-style-type: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  font-size: 20px;
}

.instructions-cont {
  padding: 20px;
  position: absolute;
  width: 65%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.instructions-cont-off {
  position: absolute;
  width: 0;
  height: 0;
  display: none;
}

.instructions-detail {
  font-family: Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  border-radius: 5px;
  width: 100%;
  padding-bottom: 15px;
}

.instructions-detail-off {
  position: absolute;
  width: 0;
  height: 0;
  display: none;
}

.instructions-detail h2 {
  margin: 40px 0 15px 0;
  text-align: center;
}

.instructions-detail p {
  text-align: center;
  padding: 4px;
  line-height: 20px;
}

#button-cont {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#close-button {
  text-align: end;
  margin: 5px 5px 0 0;
  width: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.main-pannel-off {
  display: none;
}

.main-game-off {
  display: none;
}

.main-game-on {
  margin-top:120px;
}

.button {
  background-color: rgba(0,0,0,0.3);
  font-family: 'pixelart';
  color: white;
  margin-top: 20px;
  font-size: 20px;
  padding: 7px;
  border-style: groove;
  cursor: pointer;
}

.button-off{
  display: none;
}

.game-nav {
  margin-left: 180px;
  align-content: baseline;
}